<div
  class="conntainer border  bg-dark-light h-full w-full d-flex justify-content-center align-items-center"
>
  <div class="card home-card">
    <div class="card-title text-center"><span><h4 class="d-inline">Welcome to</h4></span>
      <span class="font-weight-bold">My Portfolio</span>
      <p>🎊 🎉 🥳</p>
    </div>
    <p class="text-center">My Portfoli is currently under constraction </p>
    <p class="text-center">You would be first inline to have a look when it's
      all set and done 🤩</p>
    <p class="text-center">I am a junior full Stack developer open to Hiring</p>
    <p class="text-center">Contact me at
      <span class="text-primary">courageagbenyegah234@gmail</span>
      for any available openings 😃</p>
      <ul class="connection border-0 card m-0 p-0 d-flex justify-content-around align-items-center">
          <li><a href="https://twitter.com/Courage_Kekeli"><i class="fi-xnsuxl-twitter-solid"></i></a></li>
          <li><a href=""><i class="fi-snsuxl-linkedin"></i></a></li>
          <li><a href="https://github.com/Kekelii"><i class="fi-xnsuxl-github"></i></a></li>
          <li><a href="https://discord.com/users/721755201437958154"><i class="fi-xnsuxl-discord-alt"></i></a></li>
        </ul>
    <p class="text-center">Hope to seeing you soon 😀</p>
    <p class="text-center text-danger">To get source code for this project click
      <a href="#" class="hyperlink">here</a></p>
    <div class="d-flex justify-content-center mt-20 h-100"><button
        class="btn m-auto h-half btn-primary"
        type="button"
        id="logout"
      >See you Soon <span class="text-success">Log out</span> </button></div>
  </div>
</div>
<script src="scripts/home.js"></script>