<div
  class="conntainer border rounded-10 bg-dark-light h-full d-flex justify-content-center align-items-center"
>
  <div
    class="card w-400 h-450 shadow w-three-quarter-md container-sm"
    id="resetpasswordCard"
  >
    <div class="card-title text-center" id="resetpassword-header">Reset Password</div>
    <form class="full p-20 container-fluid" id="resetpassword-form">
      <div class="form-group">
        <label
          for="first-name"
          class="required font-weight-semi-bold"
        >Password</label>
        <input
          type="password"
          class="form-control shadow h-50"
          id="resetpassword-1"
          placeholder="Email Address"
          required="required"
        />
        <label
          for="confirm-password"
          class="required font-weight-semi-bold"
        >Confirm Password</label>
        <input
          type="password"
          class="form-control shadow h-50"
          id="resetpassword-2"
          placeholder="password"
          required="required"
        />
        <p class="text-center text-danger d-none" id="resetpassword-error">Both
          Password fields must be equal</p>
        <p
          class="text-center text-danger m-0 d-none"
          id="resetpassword-error-expired-link"
        >Link has expired try again</p>
        <p
          class="text-center text-danger m-0 d-none"
          id="resetpassword-error-invalid"
        >New password should not be less than 6 characters,should contain
          special characters</p>
        <p
          class="text-center text-success m-0 d-none"
          id="resetpassword-success"
        >Password reset successful</p>

        <button
          type="submit"
          id="signinButton"
          class="btn btn-primary form-control mt-20"
        >Submit Password</button>
        <p class="m-0 font-size-12">Don't have an account ?<a
            href="/app/signup"
            class="text-primary"
          >Sign Up</a></p>

      </div>
    </form>
    <a href="https://supertokens.com">
      <div
        class="bg-transparent border-0 card m-0 p-0 w-200 h-25 d-flex justify-content-center align-items-center position-absolute bottom-0 right-0 font-text-bold"
      >
        <span class="text-success d-inline">
          Powered-by
        </span>
        <img
          class="img-fluid w-half h-three-quarter"
          src="/app/supertokensLogo.png"
          alt=""
        />
      </div>
    </a>
  </div>
</div>
<script src="scripts/resetpassword.js"></script>